<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
   
        <meta charset="UTF-8">
        <title>CardGame</title>
        <script src="./redirection.js"></script>
    </head>

    <body>
        <h2 class="h2">Liste des cartes</h2>
        <table>
            <tr th:each="carte : ${listeCarte}">
                <div class="ui special cards">
                    <div class="card">
                
                        <div class="image imageCard">
                
                            <div class="blurring dimmable image">
                                <div class="ui fluid image">
                                    <a class="ui left corner label">
                                   <h3 th:utext="${carte.getName()}"></h3>
                                    </a>
                                    <img id="cardImgId" class="ui centered image" th:src="${carte.getImgUrl()}" height="200" width="200">
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui form tiny">
                                <div class="field">
                                    <label id="cardNameId"></label>
                                    <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="2">[[${carte.getDescription()}]]
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="heart outline icon"></i><span id="cardHPId">HP [[${carte.getHP()}]]</span> 
                            <div class="right floated ">
                                    <span id="cardEnergyId">Energy [[${carte.getEnergy()}]]</span>
                                <i class="lightning icon"></i>
                                
                            </div>
                        </div>
                        <div class="content">
                            <span class="right floated">
                                    <span id="cardAttackId"> Attack [[${carte.getAttaque()}]]</span> 
                                <i class=" wizard icon"></i>
                            </span>
                            <i class="protect icon"></i>
                            <span id="cardDefenceId">Defense [[${carte.getDefense()}]]</span> 
                        </div>
                        <div class="ui bottom attached button">
                            <i class="money icon"></i>
                            Actual Value <span id="cardPriceId"> [[${carte.getPrix()}]] $</span>
                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            
                                var idcarte = /*[[${carte.getId()}]]*/ 'default';
                                var iduser = /*[[${idUser}]]*/ 'default';
                                var prix = /*[[${carte.getPrix()}]]*/ 'default';
                            
                            /*]]>*/
                            </script>
                         <button onclick="generate()" class="buttonRedirect">Sell</button>
                    </div>
                </div>
            </tr>
            <a href="#top">Revenir en haut</a>
        </table>
    </body>
</html>