<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" href="./lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="./css/custom.css">

    </head>

    <body>
        <div class="ui pointing menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Messages
            </a>
            <a class="item active">
                Friends
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui five column grid" id="gridContainer">
                <div class="column">1</div>
                <template id="selectedCard">
                    <div class="column">   
                        <div class="ui special cards">
                            <div class="card">
                                <div class="content">
                                    <div class="right floated meta">{{date}}</div>
                                    <img class="ui avatar image" src={{family_src}}> {{family_name}}
                                </div>
                                <div class="image imageCard">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <div class="ui primary button">Add Friend</div>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="ui centered tiny  image" src={{image_src}}>
                                    </div>
                                </div>
                                <div class="content">
                                    <span class="right floated">
                                        <i class="heart outline like icon"></i>
                                        {{like}}
                                    </span>
                                    <i class="comment icon"></i>
                                    {{comment}}
                                </div>
                                <div class="extra content">
                                    <div class="ui large transparent left icon input">
                                        <i class="heart outline icon"></i>
                                        <input type="text" placeholder="Add Comment...">
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    {{button}}
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    

        <script src="../lib/jquery-3.3.1.min.js"></script>
        <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="js/animation-custom.js"></script> 
        <script src="js/card.js"></script> 

    </body>
</html>